<div class="container container-small mt-4">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Edit Pin</h1>
    </div>
    <div class="card-body">
      <%= render 'form' %>
      <p>
        <div class="btn btn-outline-dark"><%= link_to "Cancel", pin_path %></div>
      </p>
    </div>
  </div>
</div>
