<div class="container-fluid">
  <%= image_tag("bgclone.jpg", :alt => "background") %>
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @pins.each do |pin| %>
      <div class="grid-item">
        <h1><%= link_to pin.title, pin %></h1>
      <% end %>
    </div>
  </div>
</div>
