<div class="container">
    <%=image_tag "clone.png", size: "40x40", class: "d-inline-block align-top", alt: "" %>



<div>
  <%=image_tag="bgclone.jpeg" class="img-fluid" alt="Responsive image" %>
</div>
<div class="container-fluid">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @pins.each do |pin| %>
      <div class="grid-item">
        <h1><%= link_to pin.title, pin %></h1>
      <% end %>
    </div>
  </div>
</div>
