<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-brand">
        <%= link_to "Pin Board", root_path %>
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>
