@import "~bootstrap/scss/bootstrap";


body {
  background: #EEEEEE;
  color: #252525;
  font-family: 'Merriweather', sans-serif;
}

.container_banner {
  background: #000;
  position:center;
  height:500px;
  width:100%;
  margin:0 auto;
}
